<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
         bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="PHPCap">
      <file>tests/PhpCapExceptionTest.php</file>
      <file>tests/RedCapApiConnectionTest.php</file>
      <file>tests/RedCapProjectTest.php</file>
      <file>tests/ArmsTest.php</file>
      <file>tests/EventsTest.php</file>
      <file>tests/ExternalFilesTest.php</file>
      <file>tests/FilesTest.php</file>
      <file>tests/InstrumentEventMappingsTest.php</file>
      <file>tests/InstrumentsTest.php</file>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>