div#header {
	background-color:#bed530;
	padding:20;
	font:bold;
	font-size:200%;
}
div#welcome {
	margin-left:20;
}
div#maincontent {
	margin-left:20;
}
div#beforebegin {
}
div#getstarted {
	float:left;
}
div#changemind {
	float:left;
}
div#logo {
	padding:20;
	float:right;
}
div#bottombar {
	height:5;
	background-color:#bed530;
}
table#maintable {
	width:100%;
}